# Environment
genomebrowser/
.env

# Data Files
data/*
!data/genomes
data/genomes/*
!data/genomes/genome_Lilly_Mendel_v4.txt
!data/genomes/genome_demo_file.txt

# Database
*.db
**.db
**/**.db 
*.db-journal
**.db-journal
**/**.db-journal

# IDE
.vscode

# Caching
__pycache__
__pycache__/**
src/__pycache__/** 
tests/__pycache__/**